footer {
  margin: 50px 0;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

.download {
  color: #28415b;
}

@media(min-width: 990px) {
  #about-divider {
    display: none;
  }
}

#video-player {
  width: 100%;
  height: auto;
}

/* Spinner */
#spinner {
  display: none;
}
#loader {
  position: fixed;
  z-index: 999;
  height: 3em;
  width: 3em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* Overlay */
#overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background: rgba(0,255,0,0.2);
}
