footer {
  margin: 50px 0;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

@media screen and (max-width: 568px) {
  #video-player {
    -webkit-transform: translate(-30px);
    transform: translate(-30px);
  }
}

@media screen and (max-width: 480px) {
    #video-player {
      width:290px;
      height:200px;
      -webkit-transform: translate(-10px);
      transform: translate(-10px);
    }
}
/* Spinner */
#spinner {
  display: none;
}
#loader {
  position: fixed;
  z-index: 999;
  height: 3em;
  width: 3em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* Overlay */
#overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background: rgba(0,255,0,0.2);
}
